.section-recipes {
  margin-bottom: 143px;
}

.recipes {

  &__head {
    margin-bottom: 96px;
  }

  &__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 24px;

    text-align: center;
  }

  &__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}