.button-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: 16px;

  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 16px;

  width: 100%;
  height: 60px;

  cursor: pointer;

  font-size: 14px;
  line-height: 100%;
  font-weight: 600;


  &.hero-show-all {
    background-color: var(--color-accent);
    color: var(--color-black);

    font-size: 16px;
    line-height: normal;

    max-width: 200px;
  }
}