.category-card {


  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
    background: transparent;
    border-radius: 30px;

    padding: 0 40px 30px;
  }

  &__head {
    width: 100px;
    height: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.02em;
    text-align: center;
  }
}