.hero {
  margin-top: 40px;
  &__inner {
    display: flex;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 50%;
    background-color: var(--color-accent);
    border-radius: 50px 0 0 50px;
    padding: 50px;

    &-head {
      margin-bottom: 30px;
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 32px;

      .button-link {
        max-width: 200px;
      }
    }
  }

  &__title {
    font-size: 64px;
    line-height: 110%;
    font-weight: 600;
    color: var(--color-black);
    margin-bottom: 24px;
  }

  &__description {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
  }

  &__media{
    width: 50%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}