.section-category {
  margin-bottom: 186px;
}

.category {

  &__head {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 80px;

    .title {
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
  }

}