.tag {
  &__inner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: rgba(0, 0, 0, 0.05);

    border-radius: 30px;

    width: 100%;
    min-width: 140px;
    height: 40px;

  }

  &__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -2%;
  }
}