.author {
  &__inner {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__img {
    width: 50px;
    height: 50px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__name {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: var(--color-black);
    letter-spacing: -2%;
  }

  &__date {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -2%;
    color: rgba(0, 0, 0, 0.6);
  }
}